<% provide(:title, 'About') %>
<h1>Draft Day About</h1>

<p>
A fantasy football draft helper assistant which uses opportunity cost of skipping players in a draft to help determine which player to go with.
</p>
<p>

This app will allow you to set up players by position in the order you think they will perform in the upcoming season. Then, based on data from the recent history of the league will suggest a "best available player at each position in each round of the draft along with that player's value-above-replacement and an overall suggestion for who to draft in that round. 
</p>
<h2>
Features:</h2>
<p>
* User can set their predictions of the order of top performing players at each position so that draft suggestions more accurately reflect personal preference. 
</p>
<p>
* User can enter specific scoring and position settings for individual leagues so that calculations are adjusted according to those settings.
</p>
<p>
On draft day, this app will suggest a player to draft in each round of the draft based on the players that are already gone. In addition to the specific suggestion of who to draft, the best available player at each position will be featured along with that players value-above-replacement.
</p>