<%= provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Draft Day</h1>
  <h2>Your Fantasy Football Draft AI Helper</h2>
  <% if current_user %>
    <%= link_to "Go to My Leagues", user_path(current_user), class: "btn btn-large btn-primary" %>    
  <% else %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<p>
  This is the home page for Draft Day.
</p>

