<% provide(:title, @user.name) %>
<%= @user.name %>, <%= @user.email %>

<div>
  <% if @user.leagues.count == 0 %>
  You have not created a league yet.
  <% end %>
  <%= link_to "Create New League", leagues_path, class: "btn btn-large btn-primary" %>
</div>