<% provide(:title, @user.name) %>
<h2>Welcome, <%= @user.name %></h2>

<div>
  <% if @user.leagues.count == 0 %>
  You have not created a league yet.
  <% else %>
  <h3>My Leagues:</h3>
    <% current_user.leagues.each do |league| %>
      <%= link_to league.name, league_path(league.id) %><br>
    <% end %>
  <% end %>
</div>
<div>
  <%= link_to "Create New League", new_league_path, class: "btn btn-large btn-primary" %>
</div>